<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecorderDataViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RecorderDataViewer.Properties.Settings>
            <setting name="ResolutionMin" serializeAs="String">
                <value>-8192</value>
            </setting>
            <setting name="RealValueMin" serializeAs="String">
                <value>-50</value>
            </setting>
            <setting name="ResolutionMax" serializeAs="String">
                <value>8191</value>
            </setting>
            <setting name="RealValueMax" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LineColorCH1" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LineColorCH2" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LineColorCH3" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="LineColorCH4" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="LineColorCH5" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="LineColorCH6" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="LineColorCH7" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="LineColorCH8" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="LineColorCH9" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="LineColorCH10" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="LineColorCH11" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="LineColorCH12" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="SamplingInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HeaderSize" serializeAs="String">
                <value>8192</value>
            </setting>
        </RecorderDataViewer.Properties.Settings>
    </userSettings>
</configuration>